// TYPEFACES
$header-font: 'Montserrat Alternates', sans-serif;
$main-font: 'Montserrat', sans-serif;

// FONT SIZES
$font-sizes: (
  h1: (
    big: 48px,
    medium: 36px,
    small: 28px
  ),
  h2: (
    big: 24px,
    medium: 20px,
    small: 18px
  ),
  h3: (
    big: 36px,
    medium: 30px,
    small: 26px
  ),
  p: (
    big: 18px,
    medium: 16px,
    small: 16px
  )
);

// retrieve font size from $font-sizes map eg. `font-size(h1, medium)`
@function font-size($element, $size) {
  @return map-get(map-get($font-sizes, $element), $size);
}