// SPACING & MARGINS
$header-height: 140px;

$vertical-margin-width: (
  small: 5vw,
  medium: 10vw,
  big: 10vw
);

$top-margin: (
  small: 2.5vh,
  medium: 5vh,
  big: 5vh  
);

$paragraphs: (
  small: auto,
  medium: 600px,
  big: 800px
);

$overlap-margin: (
  small: 2.5vw,
  medium: 5vw,
  big: 5vw
);
