@import 'normalize';
@import 'breakpoints';
@import 'fonts';
@import 'colours';
@import 'spacing';

* {
  transition: 0.5s;
}

body {
  margin: 0;
  background: $background-color;
  color: $default-font-color;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $header-height; 

  @include breakpoint(tablet){
  
  }
  
  @include breakpoint(desktop){

  }
}

h1, h2, h3 {
  font-family: $header-font
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size: font-size(h1, small);
  letter-spacing: 7.2px;
  margin: 0 20px 0 20px;

  @include breakpoint(tablet){
    font-size: font-size(h1, medium);
    };
  @include breakpoint(desktop){
    font-size: font-size(h1, big);
  }
}

h2, h3 {
  display: block;
}

h2 {
  text-align: center;
  font-size: font-size(h2, small);  
  font-weight: 300;
  margin: 10px 0 0 0;
  @include breakpoint(tablet){
    font-size: font-size(h2, medium);
    };
  @include breakpoint(desktop){
    font-size: font-size(h2, big);
  };
}

h3 {
  text-align: left; 
  font-size: font-size(h3, small);  
  font-weight: 400;
  color: $light-purple;
  letter-spacing: 4px;
  padding: 0 20px;
  margin: 40px auto 10px auto;
  max-width: map-get($paragraphs, small);
  @include breakpoint(tablet){
    max-width: map-get($paragraphs, medium);
    }
  @include breakpoint(desktop){
    max-width: map-get($paragraphs, big);
  }
}

p {
  font-family: $main-font;
  font-weight: 300;
  font-size: font-size(p, small);  
  margin: 20px auto;
  padding: 0 20px;
  max-width: map-get($paragraphs, small);
  @include breakpoint(tablet){
    max-width: map-get($paragraphs, medium);
    font-size: font-size(p, medium);
    }
  @include breakpoint(desktop){
    max-width: map-get($paragraphs, big);
    font-size: font-size(p, big);
  }
}

.vertical-margin {  
  padding-top: map-get($overlap-margin, small);
  min-height: 100vh;
  margin-left: map-get($vertical-margin-width, small);
  margin-top: map-get($top-margin, small);
  border-left: 2px solid $purple;
  @include breakpoint(tablet){
    padding-top: map-get($overlap-margin, medium);
    margin-left: map-get($vertical-margin-width, medium);   
    margin-top: map-get($top-margin, medium); 
    }
  @include breakpoint(desktop){
    padding-top: map-get($overlap-margin, big);
    margin-left: map-get($vertical-margin-width, big);   
    margin-top: map-get($top-margin, big); 
  }
}

.horizontal-line {
  border-top: 2px solid $red;
  width: 100vw - map-get($overlap-margin, small);
  margin-left: -(map-get($overlap-margin, small));
  @include breakpoint(tablet){
    width: 100vw - map-get($overlap-margin, medium);
    margin-left: -(map-get($overlap-margin, medium));
    }
  @include breakpoint(desktop){
    width: 100vw - map-get($overlap-margin, big);
    margin-left: -(map-get($overlap-margin, big));
  }
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-self: center;
  min-height: 60px;
  width: 100%;
  max-width: 1000px;
  align-content: center;
  justify-content: center;
  @include breakpoint(tablet){
    flex-direction: row;
    }
  @include breakpoint(desktop){
    flex-direction: row;
  }
  p {
    margin: auto;
    text-align: center;
    line-height: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 10px;
  }
  a {
    text-decoration: none;
    color: #222222;
  }
  a:hover {
    color: #A31621;
  }
}

.intro-section {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{map-get($overlap-margin, small)} - #{map-get($top-margin, small)} + 4px);
  margin: 0;
  padding: 0;
  @include breakpoint(tablet){
    min-height: calc(100vh - #{map-get($overlap-margin, medium)} - #{map-get($top-margin, medium)} + 4px);
  }
  @include breakpoint(desktop){
    min-height: calc(100vh - #{map-get($overlap-margin, big)} - #{map-get($top-margin, big)} + 4px);
  }
}

.intro-content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    line-height: 200%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.section-content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: left;
    line-height: 150%;
  }
  img {
    width: 200px;
    height: auto;
  }
}

