// SPACING
$vertical-margin-width: 10vw;
$top-margin: 5vh;
$overlap-margin: 5vw;
$paragraph-margin: 15vw;
$paragraph-width: 700px;
$header-height: 140px;

// COLOURS
$purple: #360568;
$red: #A31621;
$light-purple: #7785AC;
$background-color: #F5F5F5;
$default-font-color: #222222;

// FONTS
$header-font: 'Montserrat Alternates', sans-serif;



body {
  background: $background-color;
  color: $default-font-color;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $header-height; 
}

h1, h2, h3 {
  font-family: $header-font
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size: 48px;
  letter-spacing: 7.2px;
  margin: 0 20px 0 20px;
  transition: 0.5s;
}

h2, h3 {
  display: block;
  transition: 0.5s;
}

h2 {
  text-align: center;
  font-size: 24px;  
  font-weight: 300;
  margin: 10px 0 0 0;
}

h3 {
  text-align: left; 
  font-size: 36px;
  font-weight: 400;
  color: $light-purple;
  letter-spacing: 4px;
  margin: auto;
  width: $paragraph-width;
  // margin-left: $paragraph-margin;
  // margin: 80px 20px 20px 50px; 
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  max-width: 800px;
  margin: auto;
  width: $paragraph-width;
  // margin-left: $paragraph-margin;
  // margin: 20px 40px 20px 80px;
  text-align: left;
  line-height: 200%;
  transition: 0.5s;
  
}

.vertical-margin {  
  padding-top: $overlap-margin;
  min-height: 100vh;
  margin-left: $vertical-margin-width;
  margin-top: $top-margin;
  border-left: 2px solid $purple;
}

.horizontal-line {
  border-top: 2px solid $red;
  width: 100vw - $overlap-margin;
  margin-left: -$overlap-margin;
}

.nav-bar {
  display: flex;
  min-height: 60px;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: center;
  p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    color: #222222;
    letter-spacing: 1px;
    padding: 10px;
    transition: 0.5s;
  }
  p:hover {
    color: #A31621;
  }
}

.intro-section {
  display: flex;
  flex-direction: column;
  height: 100vh - $top-margin;
  margin: 0;
  padding: 0;
}

.intro-content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  
  p {
    text-align: center;
  }
}