// SPACING
$vertical-margin-width: 10vw;
$top-margin: 5vh;
$overlap-margin: 5vw;
$paragraph-margin: 15vw;
$paragraph-width: 700px;
$header-height: 140px;

// COLOURS
$purple: #360568;
$red: #A31621;
$light-purple: #7785AC;
$background-color: #F5F5F5;
$default-font-color: #222222;

// FONTS
$header-font: 'Montserrat Alternates', sans-serif;
$main-font: 'Montserrat', sans-serif;

// FONT SIZES
$font-sizes: (
  h1: (
    big: 48px,
    medium: 48px,
    small: 30px
  ),
  h2: (
    big: 48px,
    medium: 48px,
    small: 48px
  ),
  h3: (
    big: 48px,
    medium: 48px,
    small: 48px
  ),
  intro-p: (
    big: 48px,
    medium: 48px,
    small: 48px
  ),
  p: (
    big: 48px,
    medium: 48px,
    small: 48px
  )
);

// BREAKPOINTS
$large-breakpoint: 1024px;
$medium-breakpoint: 760px;

 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: $large-breakpoint) { 
       @content; 
     }
   }
   @else if $point == tablet {
     @media (min-width: $medium-breakpoint) and (max-width: $large-breakpoint - 1) {
       @content; 
      }
   }
}

// retrieve color from $colors map ie. `color(primary, base)`
@function font-size($element, $size) {
  // eg font-size(h1, small) 
  @return map-get(map-get($font-sizes, $element), $size);
}

body {
  background: $background-color;
  color: $default-font-color;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $header-height; 

  @include breakpoint(tablet){
  
  }
  
  @include breakpoint(desktop){

  }
}

h1, h2, h3 {
  font-family: $header-font
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size: map-get(map-get($font-sizes, h1), small);
  letter-spacing: 7.2px;
  margin: 0 20px 0 20px;
  transition: 0.5s;

  @include breakpoint(tablet){
    
    }
  @include breakpoint(desktop){
    font-size: map-get(map-get($font-sizes, h1), big);
  }
}

h2, h3 {
  display: block;
  transition: 0.5s;
}

h2 {
  text-align: center;
  // font-size: $h2-size;  
  font-weight: 300;
  margin: 10px 0 0 0;
}

h3 {
  text-align: left; 
  // font-size: $h3-size;
  font-weight: 400;
  color: $light-purple;
  letter-spacing: 4px;
  margin: 40px auto 10px auto;
  width: $paragraph-width;
  // margin-left: $paragraph-margin;
  // margin: 80px 20px 20px 50px; 
}

p {
  font-family: $main-font;
  font-weight: 300;
  // font-size: $p-size;
  margin: auto;
  width: $paragraph-width;
  transition: 0.5s;
}

.vertical-margin {  
  padding-top: $overlap-margin;
  min-height: 100vh;
  margin-left: $vertical-margin-width;
  margin-top: $top-margin;
  border-left: 2px solid $purple;
}

.horizontal-line {
  border-top: 2px solid $red;
  width: 100vw - $overlap-margin;
  margin-left: -$overlap-margin;
}

.nav-bar {
  display: flex;
  min-height: 60px;
  flex-direction: row;
  width: 100%;
  align-content: center;
  justify-content: center;
  p {
    text-align: center;
    line-height: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px;
  }
  a {
    text-decoration: none;
    color: #222222;
    transition: 0.5s;
  }
  a:hover {
    color: #A31621;
  }
}

.intro-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh - $top-margin;
  margin: 0;
  padding: 0;
}

.intro-content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  p {
    text-align: center;
    // font-size: $intro-p-size;
    line-height: 200%;
  }
}

.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.section-content-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: left;
    line-height: 150%;
  }
  img {
    width: 200px;
    height: auto;
  }
}

